@media(max-width : 1100px){
    .s3_btn{
        flex-wrap: wrap;
        width: 150px;
        margin-left: 85px;
    }
    .s3_app{
        flex-wrap: wrap;
    }
    .btn_app{
        margin-bottom: 10px;
    }
    .s3_btn a{
        margin-right: 10px;
    }
    .s1 p{
        margin-left: 15px;
    }
    .img_nr{
        margin-top: 100px;
    }
    .contant{
        max-width: 90%;
    }
}
@media(max-width : 650px){
    .direction{
        display: none;
    }
    .directionUS{
        display: none;
    }
    .animation{
        display: block;
    }
    .gallery{
        display: none;
    }
    .sec_4{
        display: block;
    }
    .animation h2{
        margin: 40px 0px;
    }
    .abu_header{
        grid-template-columns: 1fr 1fr;
    }
    .center_main h1{
        width: auto;
    }
    .btn_cont .cnt_btn{
        display: none;
    }
    .menu_bar{
        display: block;
    }
    .btn_cont{
        display: flex;
        justify-content: right;
    }
    .main_header{
        grid-template-columns: 50% 50%;
        background-image: linear-gradient(180deg, #000000bf, transparent);
    }
    .section_3{
        display: none;
    }
    .s3_btn{
        width: auto;
        margin: auto;
    }
    .persons > div{
        margin-left: 0px;
    }
    .img_nr{
        margin-top: 50px;
    }
    .contant h3{
        margin-top: 0px;
    }
}
@media(max-width:350px){
    .section_4{
        height: 700px;
        grid-template-rows: 1fr 1.5fr 2fr 2fr 2fr;
    }
    .center_main{
        justify-content: center;
    }
    .center_main a{
        margin-bottom: 0;
        margin-top: 50px;
    }
    .s4_1{
        grid-area: 1/1/2/6;
    }
    .s4_2{
        grid-area: 2/1/3/6;
    }
    .s4_3{
        grid-area: 3/1/4/6;
        margin-left: 30px; 
    }
    .s4_4{
        grid-area: 4/1/5/6;
        margin-left: 30px
    }
    .s4_5{
        grid-area: 5/1/6/6;
    }
    .center_main h1{
        font-size: 35px;
        margin: 0px 10px;
    }
    .s4_5 .s3_btn a{
        margin-right: 10px;
    }
}