*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html{
    padding: 0;
    margin: 0; 
}
:root{
    --nrm_font-- :'Open Sans', sans-serif;
    --g-colour-- : #00A651;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.section_1{
    width: 100%;
    height: 800px;
    background-image: url(Photo/main_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: grid;
    grid-template-rows: 15% 85%;
}
.main_header{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 40% 20%;
    justify-content: space-around;
}
.log_cont{
    display: flex;
    align-items: center;
}
.log_cont div{
    margin-left: 20px;
    width: 60px;
    text-align: center;
    margin-top: 10px;
}
.logo div{
    height: 60px;
    width: 80px;
    background-image: url(Photo/AL\ Amana.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.direction{
    display: flex;
    justify-content: end;
    align-items: center;
}
.direction a{
    margin-right: 30px;
    color: white;
    font-size: 20px;
    font-family: var(--nrm_font--);
    font-weight: bolder;
}
.direction a:hover{
    text-shadow: 0px 0px 3px black;
}
.btn_cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_bar{
    background-image: url(Photo/menu_bar.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    /* margin-right: 30px; */
}
.menu_section{
    height: 220px;
    width: 50%;
    background-color: #00A651;
    margin-top: 182px;
    float: right;
    position: absolute;
    display: none;
}
.close_btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.close_btn div{
    background-image: url(Photo/close.png);
    background-size: cover;
    height: 20px;
    width: 20px;
    margin: 15px;
}
.menu_section > div{
    text-align: center;
    margin-bottom: 10px;
    background: #06060617;
    padding: 5px;
}
.menu_section > div a{
    font-size: 25px;
    font-weight: 700;
    color: white;
    font-family: var(--nrm_font--);
}
.menu_section > div a:hover{
    color: #c1c1c1;
}

.cnt_btn{
    color: #ffff;
    font-family: var(--nrm_font--);
    background: var(--g-colour--);
    padding: 7px 20px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 0px 0px 10px #696767;
}
.cnt_btn:hover{
    background-color: #00833f;
}
.center_main{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    flex-direction: column;
}
.center_main h1{
    color: #ffff;
    font-family: var(--nrm_font--);
    font-weight: bolder;
    font-size: xxx-large;
    margin-bottom: 70px;
    width: 500px;
    text-shadow: 0px 0px 5px black;
}
.center_main a{
    margin-bottom: 160px;
}
.section_2{
    width: 100%;
    padding-bottom: 100px;
    background-image: url(Photo/bc_img.png);
    background-size: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sec2_h1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: var(--nrm_font--);
    margin-top: 20px;
    font-size: 20px;
}
.feature{
    background-color: #ffff;
    height: 200px;
    width: 350px;
    margin: 20px 20px;
    border-radius: 15px;
    box-shadow: -1px 1px 14px #c1c1c1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: var(--nrm_font--);
}
.feature div{
    height: 50px;
    width: 50px;
    background-image:url(Photo/Vector.png);
    margin:0px 20px;
    background-repeat: no-repeat;

}
.feature h3{
    margin:0px 20px;
}
.feature p{
    margin:0px 20px;
    font-size: 15px;
}
.section_3{
    width: 100%;
    height: 350px;
    display: flex;
    background-color: var(--g-colour--);

}
.part1{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.part2{
    height: 100%;
    width: 40%;
    background-color: white;
    border-left: 119px solid var(--g-colour--);
    border-bottom: 350px solid transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.list_div{
    height: 80%;
    width: 150px;
}
.s1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 80%;
}
.s1 div{
    height: 70px;
    width: 90px;
    margin-top: 50px;
    background-image: url(Photo/AL\ Amana.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.s1 p{
    color: white;
    font-size: 13px;
    font-family: var(--nrm_font--);
    font-weight: 600;
    line-height: 16.19px;
    margin-left: 40px;
}
.section_3 ul{
    font-family: var(--nrm_font--);

}
.section_3 ul h3{
    margin: 30px 25px;
    color: white;
}
.list{ 
    margin: 15px 25px;
}
.list a{
    color: #ffff;
    font-size: 13px;
}
.list a:hover{
    text-decoration: underline;
}
.copyright{
    position: absolute;
    margin-top: 260px;
    margin-left: 375px;
    color: white;
    font-size: smaller;
    font-family: var(--nrm_font--);
}
.btn_abc{
    margin-top: 370px;
    margin-left: -85px;
}
.s3_btn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.s3_btn a{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 25px;
    font-weight: 600;
    color: #7f8491;
    text-shadow: -2px -2px 5px #fff, 2px 2px 5px #d1d9e6;
    box-shadow: 0px 0px 10px #cbccd1, 0px 0px 10px #c6c7ca, inset 0 0 0 transparent, inset  0 0 0 transparent;
    transition: all 0.3s ease-out;
}
.s3_btn a:active{
    box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset -10px -10px 20px #d1d9e6, inset 10px 10px 20px #d1d9e6;
    font-size: 20px;
}
.s3_btn a:hover{
    background-color: #e5e7f0;
}
.s3_btn a div{
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.app_hd{
    color: #5E6282;
    font-size: 18px;
    font-family: var(--nrm_font--);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 50px;
}
.s3_app{
    display: flex;
    margin-left:30px ;

}
.btn_app{
    background-color: var(--g-colour--);
    margin-left: 20px;
    border-radius: 17px;
    padding: 10px 17px;
}
.btn_app:hover{
    background-color: #00833f;
}
.cont_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.apple{
    margin-right:10px;
}
.img_box{
    height: 30px;
    width: 30px;
    background-image: url(Photo/googleplay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-right: 10px;
}
.text_box h3, .text_box p{
    color: #ffff;
    margin-bottom: 1px;
    font-family: var(--nrm_font--);
    font-size: 12px;
}
.sec_4{
    display: none;
}
.section_4{
    width: 100%;
    height: 500px;
    background-color: var(--g-colour--);
    display: grid;
    grid-template-columns: 1.5fr .5fr 1fr 1fr 1fr;
    grid-template-rows: 1.25fr 2.5fr 1.5fr;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s4_1{
    grid-area: 1/1/2/2;
}
.s4_2{
    grid-area: 1/2/2/6;
}
.s4_3{
    grid-area: 2/1/3/3;
    font-family: var(--nrm_font--);
    color: #ffff;
    margin: auto;
}
.s4_4{
    grid-area: 2/3/3/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s4_5{
    grid-area: 3/1/4/6;
    flex-direction: column;
    justify-content: space-between;
}
.s4_1 div{
    height:50px;    
    width: 105px;
    background-image: url(Photo/AL\ Amana.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.s4_2 p{
    font-family: var(--nrm_font--);
    font-size: 17px;
    color: white;
    margin: 10px;
    width: fit-content;
}

.s4_3 h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
    
}
.s4_3 li a{
    font-size: 17px;
    color: white;
    margin-bottom: 10px; 
}
.s4_3 li{
    margin-bottom: 7px; 
}
.s4_4 p{
    font-family: var(--nrm_font--);
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}
.s4_4 a{
    font-family: var(--nrm_font--);
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    display: flex;
}
.icon{
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: cover;
    margin-right: 10px;
}
.s4_5 .s3_btn{
    justify-content: center;
}
.s4_5 .s3_btn a{
    margin-right: 20px;
}
hr.newline{
    border-top: 1px solid white;
    width: 80%;
}
.s4_5 p{
    color: white;
    font-family: var(--nrm_font--);
    margin-bottom:10px;
    text-align: center;
    font-size: 15px;
}



/* //////////////////////Third page Contact us////////////////////// */


.au_header{
    background-color: var(--g-colour--);
    display:grid;
    grid-template-columns: 20% 80%;
}
.directionUS{
    display: flex;
    justify-content: end;
    align-items: center;
}
.directionUS a{
    color: white;
    font-family: var(--nrm_font--);
    margin-right: 65px;
    font-size: 20px;
    font-weight: 600;
}
.directionUS a:hover{
    color: rgb(241, 241, 203);
    text-shadow: 0px 0px 20px black;
}
.main_bd{
    width: 100%;
    min-height: 600px;
    background-image: url(Photo/bc_img.png);
    background-size: 400px;
}
.main_bd{
    flex-direction: column;
    justify-content: space-evenly;
}
.icontg{
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
}
.icontg > div{
    width: 220px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 13px #877f7f;
    flex-direction: column;
    margin: 50px;
    transition: 0.5s;
}
.icontg > div:hover{
    transform: translate(10px,20px);
}
.contact div{
    width: 150px;
    height: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.contact p{
    font-family: var(--nrm_font--);
    font-size: 25px;
    font-weight: 700;
    margin-top: 25px;
    text-align: center;
    color: black;
}
.nametg p{
    font-family: var(--nrm_font--);
    font-size: 35px;
    font-weight: 700;
    margin: 50px 10px;
    text-align: center;
}



/* //////////////////////second page About us////////////////////// */

/* ///////////header////////////*/

.abu_header{
    background-color: var(--g-colour--);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr ;
}
.white{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 15px #fd3737;
}
.white:hover{
    background-color:rgb(88, 86, 86);
    color: white;
}


/* ///////////narration////////////*/


.main_au{
    background-image: url(Photo/bc_img.png);
    padding-top: 80px;
    background-size: 500px;
}
.narration{
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}
.contant{
    flex-direction: column;
    max-width: 500px;
}
.contant h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.contant p{
    text-align: justify;
    color: #4A5568;
}
.img_nr{
    width: 485px;
    height: 330px;
    background-image: url(Photo/about_us1img.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-bottom: 65px;
}

/* ///////////leader////////////*/


.p_tag{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 80px;
}
.p_tag p{
    font-size: 30px;
    font-weight: 700;
}
.persons{
    width: 100%; 
    flex-wrap: wrap;
}
.persons > div{
    width: 340px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #857c7c;
}
.person_1 div{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}
.person_1 h3{
    margin-bottom: 10px;
}
.person_1 p{
    margin: 20px;
    text-align: justify;
}

/* ///////////Galery////////////*/

.gallery{
    min-height: 600px;
    width: 100%;
    flex-direction: column;
    padding-bottom: 100px;
}
.gallery > h2{
    font-size: 41px;
    margin: 90px 0px;
}

.img_gallery{
    display: grid;
    grid-template-columns: 1.25fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 500px;
    width: 80%;
    grid-gap: 25px;
}
.img_gallery div{
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 10px rgb(90, 89, 89);
}
.img-1{
    grid-area: 1/1/3/2;
    background-image: url(Photo/galler-1.jpg);
    background-size: 800px 501px;
}
.img-2{
    grid-area: 1/2/2/3;
    background-image: url(Photo/galler-2.jpg);
    background-size: cover;
}
.img-3{
    grid-area: 1/3/2/4;
    background-image: url(Photo/galler-3.jpg);
    background-size: cover;
}
.img-4{
    grid-area: 2/2/3/3;
    background-image: url(Photo/galler-4.jpg);
    background-size: 490px 470px;
}
.img-5{
    grid-area: 2/3/3/4;
    background-image: url(Photo/galler-5.jpg);
    background-size: cover;
}